body {
    margin: 0;
    padding: 0;
}

.container,
#sliderimage,
.slider-content {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    height: 50vh;
    margin-left: 15%;
}

#sliderimage {
    filter: grayscale(100%);
    transition: 1s;
}

#sliderimage:hover {
    filter: grayscale(0%);
    transition: 1s;
}

.container {
    position: relative;
}

.container1 h1 {
    text-align: center;
}

.container1 blockquote span {
    color: rgb(158, 62, 62);
}

.slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.slide1 {
    background-image: url('../Images/Image1.jpg');
}

.slide2 {
    background-image: url('../Images/Image2.jpg');
}

.slide3 {
    background-image: url('../Images/Image3.jpg');
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.slider-content span {
    font-size: x-large;
    font-weight: 700;
}
